body {
    background: #3a312d; } 
h1{
    text-align:center;
    color : #eadbb2;
    font-family:"onyx";
    font-size:700%;
}
/*.btn-dark {
    background: #2B7379;
    color: #112F3B;    
}
.btn-dark:hover {
    background: #E3CCBD;
}
 */
.form-signin {
    
    border: 10px black;
    border-radius: 50%;
    width: 400px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
    background: white;
    padding:40px;
}

.form-group {  
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#section {
    position:fixed;
}




/*
bleu foncé: #112F3B
bleu moyen: #2B7379
bleu clair: #6BBAB5
beige clair: #FAE3D6
beige foncé: #E3CCBD
*/