body {
    background: #303030;
    } 

h1{
    text-align:center;
    color : #4ff3b2;
    font-family:"Verdana, Geneva, sans-serif";
    font-size:500%;
}

.modal {
    display: none;
    background-color: rgba(0,0,0,0.4);
    z-index: 1;
} 

label {
    display: block;
    width: 150px;
    float: left;
}

table {
    color:#303030;
    background: #7fdfd7;
}
